# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WorkSpace\dw_uilts_4_spark\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
